
.style_head{
    font-weight:bolder;
    color: #707070;
}

#headingOne{
    font-size: 74px;
}

.heading_two{
    font-size: 64px;
}

#myHead{
    position: absolute;
    top: 36%;
    left: 51.5%;
    width: 8%;
}

.social-icon{
    position: absolute;
    left: 0;
    top: 40%;
}

.external-link {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
    cursor: pointer;
    transition-duration: 100ms;
}

.external-link:hover {
    color: #4056FF;
    text-decoration: none;
    border-bottom: 3px solid #4056FF;
    transition-duration: 200ms;
}



